<div class="dropdown">
  <button class="btn btn-outline-secondary w-100" style="color: grey; border-color: lightGrey;" type="button"
    id="selectorButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <div class="row justify-content-between">
      <div class="col-auto">
        <div class="row justify-content-begin align-items-center">
          <div class="col-2 px-2 pr-3">
            <ng-content></ng-content>
          </div>
          <div class="col-auto">
            <label class="font-weight-light m-0 p-0">
              {{ state === null ? 'Sort by' : state['label'] }}
            </label>
          </div>
        </div>
      </div>
      <div class="col-2">
        <i class="bi bi-caret-down-fill"></i>
      </div>
    </div>

  </button>
  <div class="dropdown-menu w-100" aria-labelledby="selectorButton">
    <button class="dropdown-item" *ngFor="let option of options" (click)="changeState(option)"> {{ option['label'] }}
    </button>
  </div>
</div>
