<div class="dropdown">
  <button class="btn w-100" style="color: grey; border-color: lightGrey;" type="button"
    id="selectorButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <div class="row justify-content-between">
      <div class="col-10">
        <div class="row justify-content-begin align-items-center">
            <ng-content></ng-content>
          <div class="col-auto">
            <label class="font-weight-light m-0 p-0">
              {{ state === null ? placeHolder : computedLabel }}
            </label>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <i class="bi bi-caret-down-fill"></i>
      </div>
    </div>

  </button>
  <div class="dropdown-menu w-100" aria-labelledby="selectorButton">
    <button class="dropdown-item" *ngFor="let option of options" (click)="changeState(option['value'])">
      <label style="color: gray;" class="font-weight-lighter">
        {{ option['label'] }}
      </label>
    </button>
  </div>
</div>
