<app-home-top-banner (updateOrder)="changeOrder($event)">
  <h2 class="">
    Reservations List
  </h2>
  <div>
    <a [routerLink]="['/create-reservation']" role="button" class="btn btn-secondary text-uppercase d-none d-md-block">
      Create reservation
    </a>
    <a [routerLink]="['/create-reservation']" role="button" class="btn btn-secondary btn-sm mb-2 text-uppercase d-block d-md-none">
      Create reservation
    </a>
  </div>
  <app-selector [options]="orders" (updateValue)="changeOrder($event)" class="d-block d-md-none">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down-alt"
      viewBox="0 0 16 16" style="height: 25px; width: 25px">
      <path
        d="M3.5 3.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 12.293V3.5zm4 .5a.5.5 0 0 1 0-1h1a.5.5 0 0 1 0 1h-1zm0 3a.5.5 0 0 1 0-1h3a.5.5 0 0 1 0 1h-3zm0 3a.5.5 0 0 1 0-1h5a.5.5 0 0 1 0 1h-5zM7 12.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5z" />
    </svg>
  </app-selector>
</app-home-top-banner>

<div class="d-block d-md-none">
  <app-list-group-item [index]="i" *ngFor="let reservation of reservations.results; let i=index">
    <div class="col-7" style="font-size: smaller;">
      <label class="font-weight-light mb-0">
        {{ reservation.title}}
      </label>
      <br>
      <label class="card-subtitle text-muted font-weight-lighter" style="font-size: smaller;">
        {{ getDateString(reservation) }}
      </label>
    </div>
    <div class="col-5">
      <div class="row justify-content-end">
        <div class="col-auto pr-2">
          <i [class]="'bi '+(reservation.isFavorite ? 'bi-heart-fill' : 'bi-heart')"
            [style.color]="reservation.isFavorite ? 'red' : null" (click)="isFavoriteToogler(reservation.id)"></i>
        </div>
        <div class="col-auto pl-2">
          <a href="#">
            <span class="badge badge-secondary py-1 px-3">
              Edit
            </span>
          </a>
        </div>
      </div>
    </div>
  </app-list-group-item>
  <div class="row justify-content-center w-100 align-items-center">
    <div class="col-auto">
      <button class="btn btn-sm btn-outline-secondary" *ngIf="reservations.pageIndex > 1" (click)="movePage(-1)" >
        <
      </button>
    </div>
    <p class="m-0 btn-sm btn-secondary">
      1
    </p>
    <div class="col-auto">
      <button class="btn btn-sm btn-outline-secondary" *ngIf="reservations.pageIndex < pages" (click)="movePage(1)">
        >
      </button>
    </div>
  </div>
</div>

<div class="container-fluid bg-light py-3 d-none d-md-block">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-4">
            <app-selector [options]="orders" (updateValue)="changeOrder($event)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-sort-down-alt" viewBox="0 0 16 16" style="height: 25px; width: 25px">
                <path
                  d="M3.5 3.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 12.293V3.5zm4 .5a.5.5 0 0 1 0-1h1a.5.5 0 0 1 0 1h-1zm0 3a.5.5 0 0 1 0-1h3a.5.5 0 0 1 0 1h-3zm0 3a.5.5 0 0 1 0-1h5a.5.5 0 0 1 0 1h-5zM7 12.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5z" />
              </svg>
            </app-selector>
          </div>
        </div>
        <app-list-group-item [index]="i" *ngFor="let reservation of reservations.results; let i=index">
          <div class="col-3" style="line-height: 1rem;">
            <label class="font-weight-light mb-0" style="font-size: smaller;">
              {{ reservation.title}}
            </label>
            <br>
            <label class="card-subtitle text-muted font-weight-light" style="font-size: smaller;">
              {{ getDateString(reservation) }}
            </label>
          </div>
          <div class="col-auto">
            <label class="font-weight-light mb-0" style="font-size: smaller;">
              Ranking
            </label>
            <br>
            <div class="row">
              <div class="col">
                <i *ngFor="let j of [1,2,3,4,5]"
                  [style.color]="reservation.rating >= j ? 'yellow' : 'lightgray'"
                  class="bi bi-star-fill"
                  (click)="rate(reservation.id, j)"></i>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <div class="row justify-content-center align-items-center" (click)="isFavoriteToogler(reservation.id)">
              <div class="col-10 pr-0">
                <label class="fav-text {{reservation.isFavorite ? 'favorited' : ''}}"> Add Favorites</label>

              </div>
              <div class="col-1 pl-0">
                <i [class]="'bi '+(reservation.isFavorite ? 'bi-heart-fill' : 'bi-heart')"
                  [style.color]="reservation.isFavorite ? 'red' : null"></i>
              </div>
            </div>

          </div>
          <div class="col-auto">
            <a href="#">
              <span class="badge badge-secondary py-2 px-4">
                Edit
              </span>
            </a>
          </div>

        </app-list-group-item>
        <div class="spacer"> </div>
        <div class="row justify-content-center p-2 w-100 align-items-center">
          <div class="col-auto">
            <button class="btn btn-sm btn-outline-secondary" *ngIf="reservations.pageIndex > 1" (click)="movePage(-1)" >
              <
            </button>
          </div>
          <p class="m-0 btn-sm btn-secondary">
            {{reservations.pageIndex}}
          </p>
          <div class="col-auto">
            <button class="btn btn-sm btn-outline-secondary" *ngIf="reservations.pageIndex < pages" (click)="movePage(1)">
              >
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
