<div class="w-100 m-0">
  <div class="container py-3">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-auto col-12 text-danger">
        <h2 class="font-weight-lighter">
          Reservations List
        </h2>
      </div>
      <div class="col-md-4 col-lg-6 col-12 text-wrap font-weight-light text-muted d-none d-md-block">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam, voluptatum ex. Consequatur qui inventore
        officiis
        quod atque ratione molestiae?
      </div>
      <div class="col-auto d-none d-md-block">
        <a href="#" role="button" class="btn btn-secondary text-uppercase">
          Create reservation
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">

</div>
