<div class="w-100 m-0">
  <div class="container py-3">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-auto col-12 text-danger">
        <h2 class="font-weight-lighter">
          Reservations List
        </h2>
      </div>
      <div class="col-md-4 col-lg-6 col-12 text-wrap font-weight-light text-muted d-none d-md-block">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam, voluptatum ex. Consequatur qui inventore
        officiis
        quod atque ratione molestiae?
      </div>
      <div class="col-auto d-none d-md-block">
        <a href="#" role="button" class="btn btn-secondary text-uppercase">
          Create reservation
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-light py-3">
  <div class="container">
    <div class="card w-100 h-100">
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-4">
            <app-selector [options]="orders" (updateValue)="updateOrderSelector($event)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-sort-down-alt" viewBox="0 0 16 16" style="height: 25px; width: 25px">
                <path
                  d="M3.5 3.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 12.293V3.5zm4 .5a.5.5 0 0 1 0-1h1a.5.5 0 0 1 0 1h-1zm0 3a.5.5 0 0 1 0-1h3a.5.5 0 0 1 0 1h-3zm0 3a.5.5 0 0 1 0-1h5a.5.5 0 0 1 0 1h-5zM7 12.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5z" />
              </svg>
            </app-selector>
          </div>
        </div>
        <div
          class="row justify-content-between align-items-center mb-1 py-1 mx-1 {{i % 2 == 0 ? 'row-even' : 'row-odd'}}"
          *ngFor="let reservation of reservations; let i=index">
          <div class="col-3" style="line-height: 1rem;">
            <label class="font-weight-light mb-0" style="font-size: smaller;">
              {{ reservation.title}}
            </label>
            <br>
            <label class="card-subtitle text-muted font-weight-light" style="font-size: smaller;">
              {{ getDateString(reservation) }}
            </label>
          </div>
          <div class="col-auto">
            <label class="font-weight-light mb-0" style="font-size: smaller;">
              Ranking
            </label>
            <br>
            <div class="row">
              <div class="col">
                <i *ngFor="let j of [1,2,3,4,5]"
                  [style.color]="reservation.rating >= j ? 'yellow' : 'lightgray'"
                  class="bi bi-star-fill"
                  (click)="rateReservation(reservation.id, j)"></i>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <div class="row justify-content-center align-items-center" (click)="favoriteUpdate(reservation.id)">
              <div class="col-10 pr-0">
                <label class="fav-text {{reservation.isFavorite ? 'favorited' : ''}}"> Add Favorites</label>

              </div>
              <div class="col-1 pl-0">
                <i [class]="'bi '+(reservation.isFavorite ? 'bi-heart-fill' : 'bi-heart')"
                  [style.color]="reservation.isFavorite ? 'red' : null"></i>
              </div>
            </div>

          </div>
          <div class="col-auto">
            <a href="#">
              <span class="badge badge-secondary py-2 px-4">
                Edit
              </span>
            </a>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
